.previewWrapper {
    color: var(--color-text-default);
}

body {
    font-family: "Battambang", "Google Sans", "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
